.title{
    text-align: center;
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    padding: 30px;
    background-image: url("C:/Users/steve/Desktop/vsc projects/html/my first website/resources/images/project-1 images/image 1.jpeg");
}

.sub-heading-1{
    background-color: mediumspringgreen;
    color: white;
    font-size: 32px;
}

.sub-heading-2{
    background-color: lightcoral;
    color: white;
    font-size: 32px;
}

.sub-heading-3{
    background-color: skyblue;
    color: white;
    font-size: 32px;
}

p{
    font-family: helvetica;
}

p span {
    font-family: Helvetica;
    font-weight: bold;
    color: blue
} 